name: CI

on:
  push:
  pull_request:
  release:
    types:
      - created

jobs:
  build-ubuntu:    
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    env:
      DEBIAN_FRONTEND: noninteractive
    steps:
    - uses: actions/checkout@v2
      with:
        path: vcpkg-robotraconteur
    - uses: actions/checkout@v2
      with:
        path: vcpkg
        repository: microsoft/vcpkg
    - name: apt update
      run: sudo apt update
    - name: apt
      run: >
        sudo apt install zip unzip build-essential pkg-config libdbus-1-dev libbluetooth-dev libusb-1.0-0-dev -qq
    - name: bootstrap vcpkg
      run: ./bootstrap-vcpkg.sh
      working-directory: vcpkg
    - name: build robotraconteur
      run: ./vcpkg install --clean-after-build --overlay-ports=../vcpkg-robotraconteur/ports robotraconteur robotraconteur-companion
      working-directory: vcpkg
    - uses: actions/upload-artifact@v2
      if: always()
      with:
        name: logs-${{ matrix.os }}
        path: |
          vcpkg/buildtrees/*/*.txt
          vcpkg/buildtrees/*/*.log
  build-win:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
      with:
        path: vcpkg-robotraconteur
    - uses: actions/checkout@v2
      with:
        path: vcpkg
        repository: microsoft/vcpkg
    - name: bootstrap vcpkg
      run: bootstrap-vcpkg
      working-directory: vcpkg
    - name: build robotraconteur
      run: vcpkg install --clean-after-build --triplet x64-windows --overlay-ports=../vcpkg-robotraconteur/ports robotraconteur robotraconteur-companion
      working-directory: vcpkg
    - uses: actions/upload-artifact@v2
      if: always()
      with:
        name: logs-win
        path: |
          vcpkg/buildtrees/*/*.txt
          vcpkg/buildtrees/*/*.log
  build-osx:    
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
      with:
        path: vcpkg-robotraconteur
    - uses: actions/checkout@v2
      with:
        path: vcpkg
        repository: microsoft/vcpkg
    - name: bootstrap vcpkg
      run: ./bootstrap-vcpkg.sh
      working-directory: vcpkg
    - name: build robotraconteur
      run: ./vcpkg install --clean-after-build --overlay-ports=../vcpkg-robotraconteur/ports robotraconteur robotraconteur-companion
      working-directory: vcpkg
    - uses: actions/upload-artifact@v2
      if: always()
      with:
        name: logs-osx
        path: |
          vcpkg/buildtrees/*/*.txt
          vcpkg/buildtrees/*/*.log
